UFSC/Mestrado/DisicplinaMachineLearning/Links.txt
Cursos/DevWEB/react/crud/backend/node_modules/
Cursos/DevWEB/react/crud/frontend/node_modules/
/UFSC/Mestrado/DisicplinaMachineLearning/DisciplineWorks/TrabalhoFinal/InfraredSolarModules